# Output directories & Gradle
.gradle
bin
build
out

# Idea
moe.ios.simulator.launcher.iml
moe.ios.simulator.launcher.ipr
moe.ios.simulator.launcher.iws

# Eclipse
.classpath
.project
.settings

# Other
log
logs
.idea
